body {
  margin: 0px;
  padding: 0px;
}
#container-slider {
  height: 400px;
  width: 90%;
  margin: auto;
}

.arrows {
  background-color: #ff1696;
  color: rgb(255, 255, 255);
  font-weight: bold;
}
#sort1 {
  width: 80%;
  margin: auto;
  height: 60px;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 1px solid rgb(236, 236, 236);
  padding-top: 15px;
  padding-bottom: 15px;
}
select {
  width: 140px;
  height: 70px;
  font-size: 15px;
  border: none;
  border-right: 1px solid rgba(202, 202, 202, 0.575);
  color: rgb(139, 139, 139);
  font-family: "Zen Kaku Gothic New", sans-serif;
  margin-left: 20px;
}
#details {
  position: absolute;
  margin-top: 181px;
  padding-left: 8px;
}
#details > p:nth-child(2) {
  font-weight: bold;
}

img {
  height: 30%;
  width: inherit;
  z-index: 1;
}
.content {
  width: 90%;
  margin: auto;
  margin-bottom: 50px;
  padding: 20px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: center;
  grid-gap: 30px 50px;
}
.content > div {
  height: 250px;
  width: 200px;
  border: 1px solid rgb(230, 230, 230);
}
h3 {
  width: max-content;
  padding: 10px;
  margin: auto;
  text-align: center;
  margin-top: 50px;
  border-bottom: 3px solid #ff1696;
}
h4 {
  width: 800px;
  padding: 10px;
  margin-left: 200px;
  background-color: rgb(235, 233, 233);
  text-align: center;
  font-weight: normal;
  font-family: "Times New Roman", Times, serif;
}
#icons {
  height: 75.8%;
  width: 40%;
  position: relative;
  float: right;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 30px;
  padding-bottom: 60px;
  overflow: hidden;
  padding-right: 10px;
  background-color: rgba(51, 51, 51, 0.411);
  z-index: 2;
}
#icons > div {
  padding: 8px;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(231, 226, 226);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#icons i {
  font-size: 30px;
}
