#box1,#box2, #box4,#box6,#box7,#box9,#box11,#box12{
    display: flex;
    flex-direction: column;
    
    width: 92%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    justify-content: center;
}



#box3{
    display: flex;
    flex-wrap: wrap;
    
    width: 92%;
    margin: auto;
}
#box3>img{
    width: 50%;
}
#featured2,#bestSeller2{
    display: flex;
    flex-wrap:wrap ;
    
    width: 100%;
    margin: auto;
    justify-content: space-evenly;
}
#featuredDiv{
    display: flex;
    flex-direction: column;
    
    margin: auto;
    justify-content: space-evenly;
    width: 18%;
    
}
#featuredPrice{
    display: flex;
    margin-top: -25px;
    
}
#featuredPrice>h2,h3,h5{
    margin-left: 10px;
    
}
h5{
    color: #f394c8;
}
#offPrice{
    text-decoration:line-through ;
    color: rgb(189, 189, 190);
}
#box5, #box8,#box10{
    display: flex;
    flex-wrap: wrap;
    width: 92%;
    margin: auto;
}
#box5>img, #shopByCategory2>img, #box8>img,#box10>img,#giftingStore2>img{
   margin: 20px;
}
h1{
    margin-left:20px ;
}
#populerPiks2>img{
    width: 20%;
}
#shopByCategory2,#giftingStore2{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
}
.slides>img,.slides2>img,.slides3>img,.slides4>img,.slides5>img,.slides6>img{
    width: 100%;
}

#slider2,#slider3,#slider5,#slider6{
    margin: auto;
    width: 92%;
    margin-top: 20px;
    margin-bottom: 20px;

}
.name{
    color: rgb(197, 197, 197);
}


/* navbar  */

#container {
    height: 35px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    justify-content: center;
    box-shadow: 1px 1px 2px gray;
    padding: 15px;
    font-weight: bold;
    margin-top: 20px;
    position: sticky;
    top: 0px;
    background-color: white;
    font-size: 20px;
}
#container > div {
    height: 80%;
    cursor: pointer;
    text-align: center;
    padding: 0.6%;
}
#container > div:hover {
    border-bottom: 3px solid #e40980;
}

#category {
    cursor: pointer;
    height: 35px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    justify-content: center;
    padding: 10px;
    display: none;
}
#category > div:hover {
    border-bottom: 3px solid #e40980;
}
#view {
    height: 450px;
    width: 950px;
    margin: auto;
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
    display: none;
}
#view > div {
    flex-basis: 100%;
    padding-left: 10px;
}
#view > div:nth-child(even) {
    background-color: rgb(233, 231, 231);
}
.fonts{
    font-size: 35px;
    margin-top: -10px;
   
}
.fonts1{
    margin-left: 100px;
}
